<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INF2-Bookshop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<h1>Book List</h1>

<ul>
    {#for book in books}
        <li>{book_count}. {book.title} by {book.author()}
        <input type="button" value="sell" class="btn btn-primary sell" isbn="{book.isbn()}"/>
        <input type="button" value="change author" class="btn btn-primary change-auth" isbn="{book.isbn()}"/>
        <input type="button" value="change title" class="btn btn-primary change-title" isbn="{book.isbn()}"/>
        </li>

    {/for}
</ul>

<a href="/book/form-new">Add a Book</a> <a href="/book/all">list all books</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>
<script>
    window.addEventListener("load", function () {
        document.querySelectorAll("input.sell").forEach(function (e) {
            e.addEventListener("click", function (ee) {
                fetch("/book/" + e.getAttribute("isbn"), { method: "DELETE"}).then((data) => {
                    location.reload();
                })
            })
        });

        document.querySelectorAll("input.change-auth").forEach(function (e) {
            e.addEventListener("click", function (ee) {
                let newAuthor = prompt("Quel est le nouveau auteur?");
                fetch("/book/" + e.getAttribute("isbn") + "/author", { method: "PUT", body: newAuthor}).then((data) => {
                    location.reload();
                })
            })
        });

        document.querySelectorAll("input.change-title").forEach(function (e) {
            e.addEventListener("click", function (ee) {
                let newTitle = prompt("Quel est le nouveau titre?");
                fetch("/book/" + e.getAttribute("isbn") + "/title", { method: "PUT", body: newTitle}).then((data) => {
                    location.reload();
                })
            })
        });


    });


</script>
</html>
